<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>DataMiningUtilitiesImpl</servlet-name>
        <url-pattern>/DataMiningUtilitiesImpl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            6000000
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>DataUploadService</servlet-name>
        <servlet-class>cache.DataUploadServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataUploadService</servlet-name>
        <url-pattern>/DataUploadService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataMiningUtilitiesImpl</servlet-name>
        <servlet-class>cache.DataMiningUtilitiesImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParameterService</servlet-name>
        <servlet-class>cache.ParameterServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterService</servlet-name>
        <url-pattern>/ParameterService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlignmentService</servlet-name>
        <servlet-class>cache.AlignmentServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlignmentService</servlet-name>
        <url-pattern>/AlignmentService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminService</servlet-name>
        <servlet-class>cache.AdminServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminService</servlet-name>
        <url-pattern>/AdminService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadService</servlet-name>
        <servlet-class>cache.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadService</servlet-name>
        <url-pattern>/FileUploadService</url-pattern>
    </servlet-mapping>
</web-app>
